*{

   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Encode Sans Expanded', sans-serif;
   font-family: 'Inter', sans-serif;  
  
   
 /* background-color: rgba(203, 212, 197, 1); */
 }

