


.BottomNavbar{
   
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* padding: 10px; */
  display: flex;
  /* max-width: 440px; */
  min-width: 300px;
  justify-content: center;
  align-items: center;
 box-shadow: rgba(149, 157, 165, 0.2) 10px 8px 24px;


}
.BottomNavbar a{
   float: left;
  display: block;
  
  text-align: center;
  padding: 5px 36px;
  text-decoration: none;
  font-size: 37px;
  color:#02ba4b;
  
  
}


.BottomNavbar a:hover {
  animation: pulse 1.5s infinite;
  transition: .2s;
}
@keyframes pulse {
  0% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}

.budgetIcon{
   stroke-width: 3px;
}
@media (min-width: 776px){
   .BottomNavbar{
      display: none;
   }
}
@media(max-width: 776px){
 .BottomNavbar a{
   padding: 18px 66px;
 }
}
@media(max-width: 576px){
 .BottomNavbar a{
   padding: 18px 46px;
 }
}
@media(max-width: 450px){
 .BottomNavbar a{
   padding: 15px 26px;
 }
}
