.mcontainer{
  margin-top: 4%;
}

.header_ul {
  list-style: none;
  gap: 1rem;
  color: #fff;

}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  justify-content: space-between;
  padding: 1rem 5%;
}
#login_btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

.container {
  width: 100vw;
}

.form {
  gap: 0.5rem;
  width: 65%;
}
@media (max-width: 768px) {
 
 .form{
  margin-top: 20%;
  flex-basis: 100%;
  width:90%;
 }
  
}
.form h1 {
  color: #404550;
  font-weight: 100;
  margin-bottom: 2px;
}

.signup_btns {
  gap: 0.5rem;
  width: inherit;
}
.btn {
  background-color: transparent;
  justify-content: space-around;
  border: 2px solid #3a87be;
  color: #404550;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 1rem;
  width: inherit;

}
.btn:hover {
  color: #fff;
  background-color: #3a87be;
  transition: all 0.5s;
}
.or_line {
  gap: 0.5rem;
  width: 50%;
}
.form_container {
  width: inherit;
  gap: 0.5rem;
}
.form_input_box {
  width: inherit;

  gap: 0.5rem;
}


.btn_img {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}
.btn_img--google {
  background-image: url("./../../Assets/Google\ -\ Original.png");
  background-color: #fff;
  border-radius: 2px;
}
.btn_img--facebook {
  background-image: url("./../../Assets/Facebook\ -\ Original.png");
  background-color: white;
  border-radius: 2px;
}


.form input {
  width: inherit;
  padding-left: 8px;
  height: 50px;
  border: 1px solid #3a87be;
}

#signup {
  border: none;
  background-color: #3a87be;
  font-weight: bold;
  font-size: 1rem;
  width: inherit;
  height: inherit;
  color: #fff;
  @media (max-width: 768px) {
    width:inherit;
  }
}
#signup:hover {
  background: #3a87be;
}
.img_container section {
  width: 50%;
  @media (max-width: 768px) {
    display: none;
  }
}

.img_container h1 {
  color: #fff;
  font-size: 1.7rem;
}
.img_container p {
  text-align: left;
  width: 70%;
  color: rgba(66, 66, 66, 0.6);
}
.text-danger{
  color:red;
}
.flex-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-c-r {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-12-10 {
  padding: 12px 10px;
   width: inherit;

  gap: 0.5rem;
}
.invalid {
    border:1px solid red !important;
   }
   input, textarea {
    outline: none !important;
    box-shadow: none !important; 
    
  }

.required{
    color: red;
}