.qrHome{
  background-color: #F7F7F7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  overflow-y: hidden;
  
}
.qrHome h3{
  /* color: blue; */
  color: #0049FF;
  font-size: 1.3em;
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: -20px;
  letter-spacing: 4px;
  margin-left: 25px;
}
.qrHome ul{
  display: flex;
  
}
.qrHome ul li{
  padding: 30px;
}
.qrHome ul li h4{
  font-size: 23px;
  font-weight: 600;
  font-family: sans-serif;
  margin-top: 10px;
  color: #0049FF;
  letter-spacing: 3px;

}
@media (max-width: 550px) {
  .qrHome ul{
    display: block;
  }
}
