
.reader-containers{
	

 background-color: #f0f0f0;
  
 width: 300px;
 
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  margin-top: 150px;

}
@media (max-width: 830px) {
    .reader-containers{
        margin-left: 35%;
    }
}
@media (max-width: 650px) {
    .reader-containers{
        margin-left: 25%;
    }
}
@media (max-width: 500px) {
    .reader-containers{
        margin-left: 20%;
    }
}
@media (max-width: 450px) {
    .reader-containers{
        margin-left: 15%;
    }
}
@media (max-width: 414px) {
    .reader-containers{
        margin-left: 10%;
    }
}