@import url("https://fonts.googleapis.com/css?family=Ubuntu:400");


.qrcode{
    align-items: flex-start;
    background-color: #f0f0f0;
    border: 1px none;
    display: flex;
    height: 1024px;
    padding: 101px 134px;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}
.overlap-group-container{
    
    background-color: rgba(255,255,255,1);
    box-shadow: 2px 2px 12px #0000001f;
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-height: 821px;
    padding: 53px 124px;
    width: 1172px;
}
.overlap-group1{
    align-items: flex-start;

    background-color: rgba(255,255,255,1);
    border: 2px solid;
    border-color: rgba(0, 174, 69, 1);
    display: flex;
    height: 441px;
    min-width: 577px;
    padding: 57px 293px;
}
.title{
    margin-top: -13px;
    margin-left: 100px;
    color: rgba(24, 119, 242, 1);
    font-family: "Ubuntu";
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0;
    min-height: 30px;
}
.overlap-group2{
    align-items: flex-start;
    background-color: rgba(255,255,255,1);
    border: 2px solid;
    border-color: rgba(0, 174, 69, 1);
    display: flex;
    height: 40px;
    min-width: 577px;
    padding: 54px 29px;


}
.phone{
    letter-spacing: 2.2px;
    margin-left: 35px;
    min-height: 25px;
    min-width: 141px;
}
.name{
    letter-spacing: 0;
    margin-left: 97px;
    min-height: 25px;
    min-width: 65px;

}
.name-1{
    letter-spacing: 2.31px;
    margin-left: 29px;
    min-height: 25px;
}
.mobile-number{
    letter-spacing: 0;
    min-height: 25px;
    min-width: 161px;
}
.normal-black{
color: rgba(0, 0, 0, 1);
font-family: "Ubuntu";
font-size: 22px;
font-weight: 400;
font-style: normal;
}
.normal-blue{
color: rgba(24, 119, 242, 1);
font-family: "Ubuntu";
font-size: 22px;
font-weight: 400;
font-style: normal;
}
.generator-containers{
    padding: 0;
    margin-left: -350px;
    margin-top: 35px;
    
}
.qr-cont{
   padding: 0;
    margin-top: 0;
}